@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  background-color: rgb(34, 33, 33);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.bg-main {
  background-color: rgb(255, 94, 0);
}

.chat-box {
  overflow-y: auto;
  max-height: 70vh;
  padding-bottom: 100px;
}

.user-message-box {
  border-radius: 50px;
  padding: 10px 15px;
  margin-inline-end: 20px;
  animation: user-message-effect 0.3s ease-in-out;
}

@keyframes user-message-effect {
  from {
    opacity: 0;
    transform: translate3d(0);
  }
  to {
    opacity: 1;
    transform: translate3d(20px);
  }
}

.ai-message-box {
  max-width: 100%;
  word-wrap: break-word;
}

.input-button-box {
  box-shadow: 1px 1px 3px rgb(58, 58, 58);
  border-radius: 20px;
  padding: 40px;
  position: absolute;
  display: flex;
  bottom: 40px;
  width: 100%;
  max-width: 50%;
  left: 25%;
  gap: 10px;
}

.button-close{
  border: none;
}

.input-message {
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(62, 60, 60);
  border: none;
  flex: 1;
  min-width: 0;
}

.button-send {
  border: none;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .input-button-box {
    position: fixed;
    width: 90%;
    padding: 20px;
    padding-bottom: 0;
    max-width: none;
    left: 5%;
  }

  .input-message{
    padding: 15px;
  }

  .button-send{
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .input-button-box {
    position: absolute;
    padding: 20px;
    padding-bottom: 20px;
  }
}